#hero-container {
  /* height stipulated in id's hero-container-mobile/desktop with media querys */
  width: 100%;
  position: relative;
  overflow: hidden;

  background-color: black;
}

.hero-img {
  /* width i nmedia querys */
    height: 100%;
    display: block;
    object-fit: cover;
    opacity: 0.7;
  }

.hero-text-container {
  position: absolute;
  text-align: left;
}

#hero-button {
  position: absolute;
  /* transform: translate(120%, -50%); */
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  background-color: background;

  border-radius: 50px;
}

#hero-title{
  font-family: "Poppins";
}

/* MOBILE */
@media (max-width: 600px) {
  #hero-container {
    height: calc(100vh - 57px);
  }

  .hero-img {
    width: 100%;
  }

  #hero-title {
    font-size: 3rem;
    font-weight: 700;

  }

  .hero-text-container {
    top: 31vh;
    left: 10%;
  }

  #hero-button {
    top: 85%;
    left: 30%;

    font-size: 3rem;
  }

  
    /* BUTTON TEXT modified in heroImage */
  
}

/* TABLET */
@media (min-width: 600px) {
  #hero-container {
    height: calc(100vh - 64px);
  }
  
  .hero-img {
    width: 100%;
  }

  #hero-title {
    font-size: 3rem;
    font-weight: 700;
  }

  .hero-text-container {
    top: 10%;
    left: 10%;
  }

  #hero-button {
    top: 85%;
    left: 35%;

    height: 3rem;
    width: 15rem;
  }
}

/* DESKTOP */
@media (min-width: 900px) {
  
  #hero-container {
    height: calc(100vh - 124px);
  }

  #hero-title {
    font-size: 3.5rem;
    font-weight: 800;
  }

  .hero-text-container {
    top: 10%;
    left: 5%;
  }

  #hero-button {
    top: 85%;
    left: 42%;

    height: auto;
    width: 15rem;

  }
}
